body {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #fff;
}
/* Navbar start*/
.fullNavBar {
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding:0;
}
/* Dropdown Styles */
.dropdownMenuItems:hover {
    background-color: #8a8888;
    color: black;
}
/* Navbar end*/
/* Search Dropdown Form */
.searchDropDown {
    animation: fadeIn 0.2s ease-out;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}
.input:focus{
    border: none;
    box-shadow: none;
}
.search-btn:focus{
    border: none;
}
/* Search Dropdown Form */


body {
    width: 100%;
    background-image: url('../img/bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative; 
}
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1;
}